doctype 5
html(lang="en")
  head
    title= "jQuery UI Autocomplete"
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css')
    script(type='text/javascript', src='/tags.ejs')
    script(type='text/javascript', src='http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css')
    script(type='text/javascript', src='http://code.jquery.com/ui/1.10.2/jquery-ui.js')    

  body
    h1 Jade - node template engine
    .ui-widget
        label(for='tags') Tags:
        input(id='tags')